@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    box-sizing: border-box;
    background-color: #EBECFE;
    width: 100%;
    margin: 0;
    height: 100%;
}

body {
    width: 100%;
    margin:0;
    height: 100%;
}

.logo {
    cursor: pointer;
    padding: auto;
}

.logo img {
    width: 18em;
    height: auto;
}

li, a {
    text-transform: lowercase; 
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color:#8083B2;
    text-decoration: none;
}

nav {
    order: 1;
}

header {
    background-color: #252637;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    margin:0 auto;
}

.nav_links {
    list-style: none;
    margin-left: auto;
    margin-bottom: 0;
    padding-left: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:rgb(195, 196, 218);
}

.nav_links .active {
    color: #B1B2C7;
}

.nav_links .dropdown {
    display: none;
    position: relative;
}

.nav_links .dropdown li a {
    font-size: 12px;
    color: #252637;
}

.nav_links .dropdown li a:hover {
    color:#B1B2C7;
}

.nav_links li:hover .dropdown {
    padding: 10px;
    margin: 0;
    border-radius: 0px 20px 20px 20px;
    display: block;
    position: absolute;
    background-color: white;
}

.middle {
    width: 100%;
    height: 250px;
    /* background-image: url("images/gradientbg.jpg");
    background-size: cover; */
    background-color: #252637;
    text-align: center;
}

.middle img {
    padding-top: 1em;
    margin: 0 auto;
    width: 350px;
    height: auto;
}

.b1 {
    min-height: 55vh;
    text-align: center;
    margin-top: 2.5em;
    padding-left: 10em;
    padding-right: 10em;
    font-family: 'Poppins', sans-serif;
    color: #252637;
}

#p1, #p2, #p3 {
    display: inline-block;
    width:250px;
    text-align:left;
    margin: auto 25px auto 25px ;
    vertical-align: top;
}

#p1 h1, #p2 h1, #p3 h1 {
    font-size: 1.8rem;
}

.login {
    min-height: 68vh;
    padding-top: 5em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #252637;
}

.login p {
    margin-top: 1em;
}

.register {
    text-align: center;
    min-height: 68vh;
    padding-top: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: #252637;
}

.register p {
    margin-top: 0.8em;
}

footer {
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #252637;
}

button {
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding:.3rem 1rem;
    border: 1.5px solid transparent;
    border-radius: .50rem;
    background-color: #252637;
    color: white;
    font-size: 1rem;
}

button:hover {
    background-color: #8083B2;
}

input {
    border:none;
    padding: 8px 20px;
    margin: 8px 0;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius:10px;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.06);
  }

  #hamburger {
      margin: 0 5px;
      font-size: 28px;
      text-align: right;
      display: none;
  }

  #toggle {
      display:none;
  }

  img {
      max-width: 100%;
  }

  #headingforcreate {
      background-color: #252637;
      color:white;
      height: 175px;
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }

  #headingforcreate h1 {
      font-size: 3rem;
      padding-top: .75em;
      padding-bottom: .75em;
      margin: 0;
  }

  .create {
    padding-top: 2em;
    min-height: 68vh;
    font-family: 'Poppins', sans-serif;
    color: #252637;
  }

  .manage {
    text-align: center;
    padding-top: 2em;
    min-height: 68vh;
    font-family: 'Poppins', sans-serif;
    color: #252637;
  }

  #manageform {
      display:block;
  }

  .view-qs {
    padding-top: 2em;
    min-height: 68vh;
    font-family: 'Poppins', sans-serif;
    color: #252637;
  }

  #createform {
      text-align: left;
      margin-left: 20em;
      margin-right: 20em;
  }

  #qline {
      display: grid;
  }

  #qline select {
    border:none;
    padding: 8px 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius:10px;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.06);
  }

  #qline input {
      margin-bottom: 20px;
  }

  #qline button{
      width: 150px;
  }

  #createbtnp {
    text-align: center;
  }

  #createbtnp button{
    margin-bottom: 25px;
    font-size: 1.5rem;
    width: 100%;
  }

  #pts {
      width: 85px;
  }

  #qstitle button {
      margin-bottom: 10px;
  }

  #qsinfo {
      text-align: center;
  }

  #qsdiv {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .test-qs {
    padding-top: 2em;
    min-height: 68vh;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #252637;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  #testdiv input {
      width: 100%;
  }

  #studentresults {
      text-align: center;
      font-size: 24px;
  }

    #resultinfo {
        text-align: center;
        font-size: 24px;
    }
    /* Start of contact us page */
    .contactbody {
        margin-top: 2rem;
        min-height: 68vh;
        font-family: 'Poppins', sans-serif;
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .aboutbody {
        margin-top: 2rem;
        min-height: 68vh;
        font-family: 'Poppins', sans-serif;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .helpbody {
        margin-top: 2rem;
        min-height: 68vh;
        font-family: 'Poppins', sans-serif;
        padding-left: 10rem;
        padding-right: 10rem;
    }


    #mpara {
              text-align: center;
          }
  
          .row {
              display: flex;
              flex-direction: row;
          }
  
          .triangle-right {
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-left: 8px solid #252637;
              border-bottom: 6px solid transparent;
              margin-top: 21px;
          }
  
          
  
          .tag {
              background-color: #252637;
              color: white;
              height: 20px;
              padding-top: 3px;
              padding-bottom: 3px;
              padding-right: 60px;
              padding-left: 10px;
          }
  
          .row input {
              height: 25px;
              margin-top: 12px;
              margin-left: 10px;
          }
  
          #dummy {
              font-size: x-small;
              padding-left: 140px;
          }

          #subject {
              padding-right: 35px;
          }
  
          #messag {
              padding-right: 31px;
          }
  
          #input {
              width: 220px;
          }
  
          #message {
              margin-top: 10px;
              margin-left: 7px;
              width: 100%;
              margin-bottom: 10px;
          }
  
          #copied {
              padding-right: 10px;
              font-size: small;
          }
  
          #logo {
              position: absolute;
              padding-left: 150px;
          }

        .about h2{
                color: slategrey;
            }
        /* End of contact us and about us */

        #help img {
            max-width: 100%;
        }
  @media only screen and (max-width: 1000px) {
      .b1 {
          padding-left: 0 !important;
          padding-right: 0 !important;
      }

      .logo img {
          max-width: 100%;
      }

      #hamburger {
          display: block;
          cursor: pointer;
      }

      .menu {
        flex-basis: 100%;
        align-items: center;
        float: left;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
          display: none;
      }

      .menu a {
          display: block;
          margin: 0;
      }

      .nav_links {
        list-style: none;
      }

      .nav_links li {
        margin: 10px;
        display: block;
        padding: 0px 20px;
        position: relative;
    }

    #toggle:checked + .menu {
    display: block !important;
    flex-basis: 100%;
    align-items: center;
    float: left;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #252637;
    }

      .nav_links li:hover .dropdown {
          position: relative !important;
      }

      #createform {
        margin-left: 3.5em;
        margin-right: 3.5em;
    }

    #headingforcreate {
        height: 120px;
    }

    #headingforcreate h1 {
        font-size: 1.5rem;
        padding-top: .27em;
        padding-bottom: 0;
        margin: 0;
    }

    .contactbody {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .aboutbody {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .helpbody {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    #mid {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
  }